/* Main */

body, .btn {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 30px;
    margin: 10px;
}

div.separator {
    height: 1px;
    width: 100%;
    background-color: #ddd;
}

/* Overriding bootstrap */

.btn {
    border: 0px;
}

.btn-default {
    background: #ff6600;
    color: white;
    outline: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: white;
    background-color: #ff8052;
    outline: none;
}

/* Top */

.top {
    padding: 10px 20px;
}

.top img {
    float: left;
    width: 130px;
}

.top .links {
    float: right;
}

.top .links a {
    display: block;
    color: #ff6600;
    text-decoration: underline;
    font-size: 110%;
    margin-top: 14px;
}

.top .clear {
    clear: both;
}

/* Landing */

.landing {
    background: url(/img/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 320px;
    color: white;
    position: relative;
}

.landing div.info {
    margin: 0 auto;
    text-align: center;
}

.landing div.info img {
    margin-top: 50px;
    padding: 25px;
}

.landing div.info p {
    margin-top: 15px;
}

.landing div.info p .btn {
    font-size: 110%;
}

.landing div.copyright {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 0;
    opacity: 0.6;
    font-size: 80%;
}

.landing div.copyright a {
    color: white;
    text-decoration: underline;
}


/* Page */

div.page div.form  {
    background: #f0fbfc;
    padding: 20px;
}

div.page div.form input.control {
    outline: none;
}

div.page div.form .descr {
    padding: 10px;
}

div.page div.form .descr a {
    text-decoration: none;
    color: #428bca;
    border-bottom: 1px dashed #428bca;
    cursor: pointer;
}

div.page div.form .descr a:hover {
    border-bottom: 0px;
}

div.page div.form label {
    width: 100%;
    margin: 0px 10px;
}

div.page div.form input.control {
    padding: 0px 10px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
}

div.page div.form input.header {
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
}

div.page div.tips  {
    padding: 20px;
}


/* Social */

.social {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    color: #aaa;
    margin-top: 40px;
    text-align: center;
}

.footer a {
    text-decoration: underline;
    color: #aaa;
}