/* Main */

body, .btn {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

h1, h2, h3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    margin: 10px;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

div.separator {
    height: 1px;
    width: 100%;
    background-color: #ddd;
}

/* Overriding bootstrap */

.btn {
    border: 0px;
}

.btn-default {
    background: #ff6600;
    color: white;
    outline: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: white;
    background-color: #ff8052;
    outline: none;
}

/* Top */

.top {
    padding: 10px 20px;
}

.top img {
    float: left;
    width: 130px;
}

.top .links {
    float: right;
}

.top .links a {
    display: block;
    color: #ff6600;
    text-decoration: underline;
    font-size: 110%;
    margin-top: 14px;
}

.top .clear {
    clear: both;
}

/* Landing */

.landing {
    background: url(/img/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 320px;
    color: white;
    position: relative;
}

.landing div.info {
    margin: 0 auto;
    text-align: center;
}

.landing div.info img {
    margin-top: 50px;
    padding: 25px;
}

.landing div.info p {
    margin-top: 15px;
}

.landing div.info p .btn {
    font-size: 110%;
}

.landing div.copyright {
    position: absolute;
    left: 0px;
    width: 100%;
    text-align: center;
    bottom: 0;
    opacity: 0.6;
    font-size: 80%;
}

.landing div.copyright a {
    color: white;
    text-decoration: underline;
}


/* Features */

div.features {
    background: #f0fbfc;
    padding: 20px 0px;
}

div.features h2 {
    text-align: center;
}

div.features ol {
    counter-reset: item;
    margin-left: 0;
    padding-left: 0;
    font-size: 18px;
}

div.features li:before {
    display: inline-block;
    content: counter(item);
    counter-increment: item;
    background: #ff6600;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    text-align: center;
    color: white;
    margin-left: -50px;
    margin-right: 20px;
    padding-top: 3px;
}

div.features ol li {
    display: block;
    margin-bottom: .5em;
    margin-left: 2em;
}


/* OpenMind, Security, Choose */

div.openmind, div.security, div.choose {
    padding: 20px 0px;
}

div.openmind h2, div.security h2, div.choose h2 {
    text-align: center;
}

div.choose {
    text-align: center;
}


/* Campaign info */

div.campaign-info  {
    padding: 20px 10px;
}

div.campaign-info h1 {
    margin-left: 0px;
}


/* Operations */

div.operations  {
    background: #f0fbfc;
    padding: 0px;
}

div.operation {
    padding: 5px 10px;
}


div.operation:nth-child(even) {
    background: #f0fbfc;
}

div.operation:nth-child(odd) {
    background: #f0f4fc;
}

div.operation div.descr {
    float: left;
}

div.operation div.descr p.date {
    margin: 0px;
    font-size: 12px;
}

div.operation div.amount {
    float: right;
    font-size: 28px;
}

div.operation div.clear {
    clear: both;
}

div.ruller {
    margin: 5px 0;
    height: 18px;
    border-radius: 3px;
    position: relative;
    background: #b5acac;
    width: 100%;
    font-weight: bold;
    color: white;
}

div.ruller span.max, div.ruller span.cur {
  position: absolute;
  right: 0;
  padding: 2px 4px;
  top: 0;
  font-size: 12px;
}

div.ruller div.active {
  left: 0;
  height: 18px;
  border-radius: 3px;
  position: absolute;
  background: #ff8052;
  top: 0;
}


/* Right block */

div.right-block {
    padding: 0px 10px;
}

div.stats div.stat {
    padding: 5px 0px;
}

@media (min-width: 768px) {
    div.stats div.stat {
        padding-left: 10px;
    }
}

div.stats div.stat .descr {
    float: left;
    padding-top: 12px;
}

div.stats div.stat .amount {
    float: right;
    font-size: 28px;
}

div.stats div.clear {
    clear: both;
}

div.graphs {
    margin-top: 20px;
    background: #f0fbfc;
}

div.graphs h3 {
    padding-top: 20px;
}

#histogram {
    padding: 10px;
    width: 100%;
    height: 300px;
}


/* Nothing */

div.nothing {
    text-align: center;
    background: #f0fbfc;
    padding: 20px;
}

div.nothing h2 {
    margin-bottom: 10px;
}


/* Page */

div.page div.form  {
    background: #f0fbfc;
    padding: 20px;
}

div.page div.form input.control {
    outline: none;
}

div.page div.form .descr {
    padding: 10px;
}

div.page div.form .descr a {
    text-decoration: none;
    color: #428bca;
    border-bottom: 1px dashed #428bca;
    cursor: pointer;
}

div.page div.form .descr a:hover {
    border-bottom: 0px;
}

div.page div.form label {
    width: 100%;
    margin: 0px 10px;
}

div.page div.form input.control {
    padding: 0px 10px;
    font-family: "PT Sans", sans-serif;
    width: 100%;
}

div.page div.form input.header {
    font-size: 30px;
    font-family: "PT Sans Narrow", sans-serif;
}

div.page div.tips  {
    padding: 20px;
}


/* Social */

.social {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Footer */

.footer {
    color: #aaa;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.footer a {
    text-decoration: underline;
    color: #aaa;
}