/* Main */

body, .btn {
    font-family: "PT Sans", sans-serif;
    font-size: 15px;
}

h1 {
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

/* Overriding bootstrap */

.btn {
    border: 0px;
}

.btn-default {
    background: #ff6600;
    color: white;
    outline: none;
}

.btn-default:hover, .btn-default:focus, .btn-default:active {
    color: white;
    background-color: #ff8052;
    outline: none;
}

/* Top */

.top {
    padding: 10px 20px;
}

.top img {
    width: 130px;
}

.top .login {
    float: right;
}

.top .login .btn {
    font-size: 110%;
    margin-top: 8px;
}

/* Landing */

.landing {
    background: url(/img/landing.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    height: 320px;
    color: white;
    position: relative;
}

.landing div.info {
    margin: 0 auto;
    width: 500px;
    text-align: center;
}

.landing div.info img {
    margin-top: 50px;
    padding: 25px;
}

.landing div.info p {
    margin-top: 15px;
}

.landing div.info p .btn {
    font-size: 110%;
}

.landing div.copyright {
    position: absolute;
    padding: 10px 20px;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}

.landing div.copyright a {
    color: white;
    text-decoration: underline;
}

/* Social */

.social {
    text-align: center;
    margin: 20px;
}