server_names_hash_bucket_size 64;

server {
    server_name www.{{ app_domain }};
    return 301 http://{{ app_domain }}$request_uri;
}

upstream backend {
    server 127.0.0.1:{{ cloj_port }};
}

map $http_upgrade $connection_upgrade {
    default upgrade;
    ''      close;
}

error_page 404             /static/404.html;
error_page 500 502 503 504 /static/500.html;

## HTTP

server {
    listen       80;
    server_name  {{ app_domain }};

    access_log  off;
    #error_log off;

    #error_page 404             /public/404.html;
    #error_page 500 502 503 504 /static/500.html;

    location = / {
        alias /opt/{{ app_name }}/resources/public/;
        expires 10m;

        gzip_static on;
    }

    location / {
        proxy_pass http://backend;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }

    location /static/ {
        alias /opt/{{ app_name }}/resources/public/;
        expires 1d;

        gzip_static on;
    }
}
